@import '/src/assets/colors';

.execute-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-segment {
    margin-top: 18px;
    width: 98%;
    overflow: hidden;
    border: 1px solid $s1;
    border-radius: 8px 8px 0px 0px;
    height: 290px;
    max-height: 290px;
}

.text-segment {
    margin-top: 15px;
    width: 98%;
    height: 213px;
    border: 1px solid $s1;
    border-radius: 8px;
    background: linear-gradient(0deg, $s2, $s2),
        linear-gradient(0deg, $s1, $s1);
}

.icon-title {
    width: 22px;
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    display: flex;
    font-size: 16px;
    height: 36px;
    font-weight: 400;
    align-items: center;
    justify-content: flex-start;
    background: rgba(76, 76, 76, 1);
    border-radius: 8px 8px 0px 0px;
}

.text-segment-table {
    width: 100%;
    border: 0;
}

.data-segment-table {
    width: 100%;
    border: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}

thead {
    height: 32px;
    background-color: $s3;
}

th {
    width: 10%;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    color: $s7;
    position: sticky;
    top: 0;
    z-index: 2;
    vertical-align: middle;
}

.text-segment-body {
    max-height: 130px;
}

.data-segment-body {
    max-height: 206px;
}

.tbody-container {
    margin-top: 10px;
}

tbody {
    overflow-y: auto;
    display: block;
}

tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

td {
    width: 10%;
    box-sizing: border-box;
}

.line-space {
    padding: 8px;
}

hr {
    margin: 0;
    background: rgba(58, 58, 58, 1);
    border: 1px solid rgba(58, 58, 58, 1);
}

.container-bottom {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    width: 98%;
    justify-content: center;
    background-color: $s2;
    border: 1px solid $s1;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
}

.next-back-buttons {
    width: 56px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid $s7;
    box-shadow: 0px 1.2000000476837158px 5.400000095367432px 0px rgba(0, 0, 0, 0.25);
    background-color: $s1;
}

.next-back-buttons:hover {
    background: $p7;
    border: 1px solid $p7;
}

.next-back-buttons:active {
    background: $p1;
    border: 1px solid $p1;
}

.next-back-buttons:disabled {
    background: $s3;
    border: 1px solid $s7;
}

.logo {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-evenly;
    margin-right: 15px;
}

.select-memory {
    border-radius: 6px;
    width: 200px;
    height: 36px;
    border: 1px solid $s7;
    background-color: $s1;
    color: $t7;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    padding-left: 10px;
}

select:focus {
    outline: none;
}

select:hover {
    border: 1px solid $p3;
}

select:disabled,
select:hover:disabled {
    color: $s7;
    border: 1px solid $s7;
}

select option {
    padding: 10px;
    margin: 10px;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 400;
}

.checkbox-style {
    border: 1.4px solid rgba(130, 130, 130, 1);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background: $s2;
    margin-right: 6px;
    -webkit-appearance: none;
    cursor: pointer;
}

.checkbox-style:hover {
    border: 1.4px solid $p4;
}

input[type="checkbox"]:checked {
    color: $t7;
    background-color: $p4;
}

input[type="checkbox"]:checked::before {
    color: $t7;
    content: "✔";
    line-height: 0px;
    margin-left: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $p4;
}

input[type="checkbox"]:checked:hover {
    background: $p1;
    border: 1.4px solid $p1;
}

input[type="checkbox"]:checked:hover::before {
    background: $p1;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:disabled {
    border: 1.4px solid $s4;
}

input[type="checkbox"]:checked:disabled {
    background: $s5;
    border: 1.4px solid $s5;
}

input[type="checkbox"]:checked:disabled::before {
    color: $t7;
    content: "✔";
    line-height: 0px;
    margin-left: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    background: $s5;
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $s1, $s1);
    border: 1px solid $s5;
    border-radius: 8px;
}

tbody::-webkit-scrollbar-track {
    background-color: none;
}

.selected-row {
    background-color: $s4;
}
 