.execute-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-segment {
    margin-top: 18px;
    width: 98%;
    overflow: hidden;
    border: 1px solid #1E1E1E;
    border-radius: 8px 8px 0px 0px;
    height: 290px;
    max-height: 290px;
}

.text-segment {
    margin-top: 15px;
    width: 98%;
    height: 213px;
    border: 1px solid #1E1E1E;
    border-radius: 8px;
    background: linear-gradient(0deg, #292929, #292929),
        linear-gradient(0deg, #1E1E1E, #1E1E1E);
}

.icon-title {
    width: 22px;
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    display: flex;
    font-size: 16px;
    height: 36px;
    font-weight: 400;
    align-items: center;
    justify-content: flex-start;
    background: rgba(76, 76, 76, 1);
    border-radius: 8px 8px 0px 0px;
}


.text-segment-table {
    width: 100%;
    border: 0;
}

.data-segment-table {
    width: 100%;
    border: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}

thead {
    height: 32px;
    background-color: #3A3A3A;

}

th {
    width: 10%;
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    color: #CCCCCC;
    position: sticky;
    top: 0;
    z-index: 2;
    vertical-align: middle;
}


.text-segment-body {
    max-height: 130px;
}

.data-segment-body {
    max-height: 206px;
}

.tbody-container {
    margin-top: 10px;
}

tbody {
    overflow-y: auto;
    display: block;
}

tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

td {
    width: 10%;
    box-sizing: border-box;
}

.line-space {
    padding: 8px;
}

hr {
    margin: 0;
    background: rgba(58, 58, 58, 1);
    border: 1px solid rgba(58, 58, 58, 1);
}

.container-bottom {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    width: 98%;
    justify-content: center;
    background-color: #292929;
    border: 1px solid #1E1E1E;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
}

.next-back-buttons {
    width: 56px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #828282;
    box-shadow: 0px 1.2000000476837158px 5.400000095367432px 0px rgba(0, 0, 0, 0.25);
    background-color: #1E1E1E;
}

.next-back-buttons:hover {
    background: #FD9E3D;
    border: 1px solid #FD9E3D;
}

.next-back-buttons:active {
    background: #E35C1F;
    border: 1px solid #E35C1F;
}

.next-back-buttons:disabled {
    background: #3A3A3A;
    border: 1px solid #828282;
}

.logo {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-evenly;
    margin-right: 15px;
}

.select-memory {
    border-radius: 6px;
    width: 200px;
    height: 36px;
    border: 1px solid #828282;
    background-color: #1E1E1E;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    padding-left: 10px;
}

select:focus {
    outline: none;
}

select:hover {
    border: 1px solid #F06E29;
}

select:disabled,
select:hover:disabled {
    color: #828282;
    border: 1px solid #828282;
}

select option {
    padding: 10px;
    margin: 10px;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 400;
}

.checkbox-style {
    border: 1.4px solid rgba(130, 130, 130, 1);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background: #292929;
    margin-right: 6px;
    -webkit-appearance: none;
    cursor: pointer;
}

.checkbox-style:hover {
    border: 1.4px solid #F37A2E;
}

input[type="checkbox"]:checked {
    color: #ffffff;
    background-color: #F37A2E;
}

input[type="checkbox"]:checked::before {
    color: #ffffff;
    content: "✔";
    line-height: 0px;
    margin-left: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #F37A2E;
}

input[type="checkbox"]:checked:hover {
    background: #E35C1F;
    border: 1.4px solid #E35C1F;
}

input[type="checkbox"]:checked:hover::before {
    background: #E35C1F;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:disabled {
    border: 1.4px solid #4C4C4C;
}

input[type="checkbox"]:checked:disabled {
    background: #5E5E5E;
    border: 1.4px solid #5E5E5E;
}

input[type="checkbox"]:checked:disabled::before {
    color: #ffffff;
    content: "✔";
    line-height: 0px;
    margin-left: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #5E5E5E;
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #1E1E1E, #1E1E1E);
    border: 1px solid #5E5E5E;
    border-radius: 8px;
}

tbody::-webkit-scrollbar-track {
    background-color: none;
}