<div class="execute-section-container">
  <div class="text-segment">
    <span class="title"><img class="icon-title" src="assets/icons/text-segment.svg">Text Segment</span>
    <table class="text-segment-table" *ngIf="canRun()">
      <thead>
        <tr>
          <th>Address</th>
          <th>Code</th>
          <th>Basic</th>
          <th>Source</th>
        </tr>
      </thead>
    </table>
    <div class="tbody-container">
      <table class="text-segment-table table-scroll" *ngIf="canRun()">
        <tbody class="text-segment-body">
          <ng-container *ngFor="let row of this.getTextSegment();  let index = index; let last = last">
            <tr [id]="'row-' + (PC_START + index * 4)" [class.selected-row]="rowIndex === (PC_START + index * 4)">
              <td>{{ this.getHexAddresses(row.address) }}</td>
              <td>{{ row.code }}</td>
              <td>{{ row.basic }}</td>
              <td>{{ row.source }}</td>
            </tr>
            <tr *ngIf="!last">
              <td colspan="4" class="line-space">
                <hr>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="data-segment">
    <span class="title"><img class="icon-title" src="assets/icons/data-segment.svg">Data Segment</span>
    <table class="data-segment-table" *ngIf="canRun()">
      <thead>
        <tr>
          <th>Address</th>
          <th>Value(+0)</th>
          <th>Value(+4)</th>
          <th>Value(+8)</th>
          <th>Value(+12)</th>
          <th>Value(+16)</th>
          <th>Value(+20)</th>
          <th>Value(+24)</th>
          <th>Value(+28)</th>
        </tr>
      </thead>
    </table>
    <div class="tbody-container">
      <table class="data-segment-table" *ngIf="canRun()">
        <tbody class="data-segment-body">
          <ng-container *ngFor="let row of this.getDataSegment(); let last = last">
            <tr>
              <td>{{ this.getHexAddresses(row.address) }}</td>
              <td>{{ this.getHexValues(row.value0) }}</td>
              <td>{{ this.getHexValues(row.value4) }}</td>
              <td>{{ this.getHexValues(row.value8) }}</td>
              <td>{{ this.getHexValues(row.value12) }}</td>
              <td>{{ this.getHexValues(row.value16) }}</td>
              <td>{{ this.getHexValues(row.value20) }}</td>
              <td>{{ this.getHexValues(row.value24) }}</td>
              <td>{{ this.getHexValues(row.value28) }}</td>
            </tr>
            <tr *ngIf="!last">
              <td colspan="9" class="line-space">
                <hr>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-bottom">
    <div class="buttons">
      <button [disabled]="!canRun() || control <= 0" matTooltip="View next higher address range"
        (click)="previousPage()" class="next-back-buttons">
        <mat-icon><img class="logo" src="assets/icons/back.svg"></mat-icon></button>
      <button [disabled]="!canRun() || control >= 4294966784" matTooltip="View next lower address range"
        (click)="nextPage()" class="next-back-buttons">
        <mat-icon><img class="logo" src="assets/icons/next.svg"></mat-icon></button>
    </div>
    <select [(ngModel)]="memoryType" class="select-memory" [disabled]="!canRun()" (change)="selectOnChange()">
      <option *ngFor="let memoryType of memoryTypes" [ngValue]="memoryType">{{
        numberToHexadecimal(memoryType.init) + " (" + memoryType.name + ")"
        }}</option>
    </select>
    <label for="meuCheckbox1" class="checkbox-label">
      <input type="checkbox" id="checkbox1" name="meuCheckbox1" class="checkbox-style"
        [(ngModel)]="checkboxes.isHexAddresses">
      Hexadecimal Addresses
    </label>
    <label for="meuCheckbox2" class="checkbox-label">
      <input type="checkbox" id="checkbox2" name="meuCheckbox2" class="checkbox-style"
        [(ngModel)]="checkboxes.isHexValues">
      Hexadecimal Values
    </label>
    <label for="meuCheckbox3" class="checkbox-label">
      <input type="checkbox" id="checkbox3" name="meuCheckbox3" class="checkbox-style" [(ngModel)]="checkboxes.isAscii"
        disabled>
      ASCII
    </label>
  </div>
</div>