<div style="display: flex; flex-direction: column; width: 100%; min-width: 975px; max-width: 100%; position: relative;">
    <div class="console" id="console">
      <span class="text">
        {{getConsole()}}
      </span>
      <div *ngIf="allowInput">
        <span class="text">$: </span>
        <input
          type="text"
          [(ngModel)]="input"
          (keydown.enter)="onEnter()"
          class="input"
          placeholder="Type your command..."
        />
      </div>
    </div>
    <button class="clear-button" (click)="clearConsole()">Clear</button>
  </div>
  