@import '/src/assets/colors';


.tabs {
    width: 100%;
    background-color: $tertiary;
    min-width: 300px;
    height: 100%;
    color: $letter;
    border-radius: 5px;
}

::ng-deep .mat-mdc-tab-body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

td {
    text-align: center;
}

.mat-mdc-tab.mdc-tab {
    background-color: $secondary;
}


#mat-tab-label-0-0 {
    border-top-left-radius: 5px;
}

#mat-tab-label-0-1 {
    border-top-right-radius: 5px;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #e25c1d;
    --mat-tab-header-active-focus-indicator-color: #e25c1d;
    --mat-tab-header-active-hover-indicator-color: #e25c1d;
    --mat-tab-header-active-label-text-color: #dfdfdf;
    --mat-tab-header-active-focus-label-text-color: #dfdfdf;
    --mat-tab-header-active-hover-label-text-color: #dfdfdf;
    --mat-tab-header-inactive-label-text-color: #dfdfdf;
    --mat-tab-header-pagination-icon-color: #dfdfdf;
    --mat-tab-header-inactive-focus-label-text-color: #dfdfdf;
    --mat-tab-header-inactive-hover-label-text-color: #dfdfdf;
    --mat-tab-header-active-ripple-color: transparent;
    --mat-tab-header-inactive-ripple-color: transparent;
}