@import '/src/assets/colors';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

.card {
  background-color: $s1;
  max-height: 654px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  color: $t6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  min-width: 235px;
  font-size: 16px;
}


tbody::-webkit-scrollbar {
  width: 8px;
}

tbody::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, $s3, $s3);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 8px;
}

tbody::-webkit-scrollbar-track {
  background-color: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 0;
}

th {
  width: 30%;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  color: $t6;
  position: sticky;
  top: 0;
  z-index: 2;
  vertical-align: middle;
  padding-right: 4px;
}

tbody {
  overflow-y: auto;
  display: block;
  max-height: 600px;
}

tr {
  display: table;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

td {
  width: 33%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace; 
}

td:last-child, th:last-child{
  padding-right: 20px; 
}
 

hr {
  margin: 0;
  background: rgba(58, 58, 58, 1);
  border: 1px solid rgba(58, 58, 58, 1);
}