<div class="card">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Value</th>
            </tr>
        </thead>
    </table>
    <div class="tbody-container">
        <table>
            <tbody>
                <ng-container *ngFor="let reg of convertedCode.memories.regFile | keyvalue: originalOrder">
                    <tr>
                        <td>{{getRegName(reg.key)}}</td>
                        <td>{{reg.key.toString().slice(1)}}</td>
                        <td>{{this.getHexValues(reg.value)}}</td>
                    </tr>
                </ng-container>
                <tr>
                    <td>pc</td>
                    <td>&nbsp;</td>
                    <td>{{this.getHexValues(convertedCode.memories.pc)}}</td>
                  </tr>
            </tbody>
        </table>
    </div>
</div>