$lapis-lazuli: #69a9d9;
$polynesian-blue: #004e89;
$beige: #efefd0;
$peach: #f7c59f;
$orange-crayola: #ff6b35;
$spanish-orange: #e86723;
$dark-orange: #f4903a;
$white: #fbfcfc;
$outer-space: #4c575b;
$gunmetal: #2f363a;

$gray: #1e1e1e;


$primary: #3a3a3a;
$secondary: #1e1e1e;
$tertiary: #292929;
$orange: #e25c1d;
$letter: #dfdfdf;
$disabled: #313131;



$p1: #E35C1F;
$p2: #EE6224;
$p3: #F06E29;
$p4: #F37A2E;
$p5: #F68633;
$p6: #F99238;
$p7: #FD9E3D;

$s1: #1E1E1E;
$s2: #292929;
$s3: #3A3A3A;
$s4: #4C4C4C;
$s5: #5E5E5E;
$s6: #707070;
$s7: #828282;

$t1: #000000;
$t2: #1A1A1A;
$t3: #333333;
$t4: #434343;
$t5: #CCCCCC;
$t6: #E5E5E5;
$t7: #FFFFFF;

$ap1: #4CAF50;
$ap2: #3D8C40;
$ap3: #70BF73;
$ap4: #DBEFDC;

$an1: #E64A19;
$an2: #B83B14;
$an3: #F38461;
$an4: #F7C8B9;

$f-size: 1rem;
$radius1: 4px;
$radius2: 6px;
$radius3: 8px;
$radius4: 12px;
$radius5: 16px;