@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/_colors.scss';

html,
html {
  height: 100%;
}

html {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  background: $s3;
}


.msg-success {
  background-color: #28a745;
  color: $t7;
}

.msg-error {
  background-color: #e35e6b;
  color: $t7;
}

.msg-success {
  background-color: #28a745;
  color: $t7;
}

.msg-warning {
  background-color: #e3955e;
  color: $t7;
  border-radius: 5px;
}
 
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 8px !important;
}

.dialog-content mat-tab-header {
  &.mat-mdc-tab-header {
      --mdc-secondary-navigation-tab-container-height: 35px !important
  }
}