@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/_colors.scss';

html,
html {
  height: 100%;
}

html {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
  background: $primary;
}


.msg-success {
  background-color: #28a745;
  color: #ffffff;
}

.msg-error {
  background-color: #e35e6b;
  color: #ffffff;
}

.msg-success {
  background-color: #28a745;
  color: #ffffff;
}

.msg-warning {
  background-color: #e3955e;
  color: #ffffff;
  border-radius: 5px;
}
 

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 8px !important;
}